.list-of-task-box {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Add light shadow */
}

.task {
  position: relative;
  width: 550px;
  height: 70px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  border-bottom: 1px solid hsl(236, 9%, 61%);
  background-color: hsl(235, 24%, 19%);
}

.task-content {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}

.task button {
  border-radius: 50%;
  border: 1px solid hsl(236, 9%, 61%);
  padding: 10px;
  background: none;
}

.task span {
  padding-left: 20px;
  color: hsl(233, 11%, 84%);
}

.delete-button {
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.task button.complete-task-button.completed {
  background: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background: hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.task button:hover {
  border: 1px solid hsl(192, 100%, 67%);
  cursor: pointer;
}

.task span.crossed-out {
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
}

.bottom-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: hsl(0, 0%, 98%);
  background-color: hsl(235, 24%, 19%);
  height: 50px;
  border-radius: 10px;
}

.bottom-div ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.bottom-div ul li {
  cursor: pointer;
  color: hsl(236, 9%, 61%);
}

.bottom-div ul li:hover {
  color: #fff;
}

.clear-completed {
  color: hsl(236, 9%, 61%);
  cursor: pointer;
}

.clear-completed:hover {
  color: #fff;
}

.isBlue {
  color: hsl(220, 98%, 61%) !important;
}

.light-back-color {
  background-color: #fff;
}

.light-color:hover {
  color: black !important;
}

.black-color {
  color: hsl(233, 14%, 35%) !important;
}

.tick-color {
  stroke: hsl(235, 24%, 19%);
}

/* 
  [attr.stroke]="
              isTaskCompleted(task) ? '#fff' : 'hsl(235, 24%, 19%)'
            "
*/
