h1 {
  color: #fff;
}

form {
  margin-top: 40px;
}

input {
  width: 550px;
  height: 70px;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: hsl(235, 24%, 19%);
  color: hsl(233, 11%, 84%);
}

input::placeholder {
  color: hsl(233, 11%, 84%);
}

.list-container {
  margin-top: 20px;
}
