.title-div {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 42px;
}

.sun-moon-image {
  cursor: pointer;
}

form {
  margin-top: 40px;
}

input {
  width: 550px;
  height: 70px;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: hsl(235, 24%, 19%);
  color: hsl(233, 11%, 84%);
}

.light-back-color {
  background-color: #fff;
  color: black;
}

.light-back-color::placeholder {
  color: rgb(94, 94, 94);
}

input::placeholder {
  color: hsl(233, 11%, 84%);
}

.list-container {
  margin-top: 20px;
}
